@using VGC.DomainModel
@model IList<Platform>

@{
    ViewBag.Title = "Platforms";
}

<h2>Platforms</h2>

<section>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                </tr>
                <tr>
                    <td>@item.Notes</td>
                </tr>
            }
        </tbody>
    </table>
</section>

<section>
    @Html.ActionLink("Add New Platform", "Create")
</section>




