@model IList<VGC.Website.Models.GameDto>

@{
    var grid = new WebGrid(source: Model);
    var columns = grid.Columns(
        grid.Column("Name", "Name"),
        grid.Column("PlatformName", "Platform"),
        grid.Column("CompanyName", "Company"),
        grid.Column("LabelName", "Label"),
        grid.Column("ManualUrl", "Manual"),
        grid.Column("Notes", "Notes"));
}

<h2>All Games</h2>

@grid.GetHtml(columns: columns)